#home .ftco-intro .block-18,
#home .ftco-intro .block-18 > .text > h3,
#home .ftco-intro .block-18 > .text > span,
#home .ftco-intro .block-18 > .text > strong {
    color: var(--mm_white);
}

#home .ftco-intro .block-18 > .text > h3,
#home .ftco-intro .block-18 > .text > span:first-of-type {
    text-transform: uppercase;
}

#home .ftco-intro .block-18 > .text > h3,
#home .ftco-intro .block-18 > .text > span {
    font-size: 1rem;
}

#home .ftco-intro .block-18 > .text > h3,
#home .ftco-intro .block-18 > .text > p {
    margin-bottom: 0 !important;
}

#home .ftco-intro .block-18 > .text {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
}

#home .ftco-intro .block-18.color-1 {
    background: var(--mm_black);
}

#home .ftco-intro .block-18.color-2 {
    background: var(--mm_black80);
}

#home .ftco-intro .block-18.color-3 {
    background: var(--mm_black60);
}

#home .ftco-section .heading-section .button-container {
    margin-top: 3rem;
}