#home #section-counter {
    z-index: 2;
}

#home .ftco-intro .block-18,
#home .ftco-intro .block-18 > .text > h3,
#home .ftco-intro .block-18 > .text > span,
#home .ftco-intro .block-18 > .text > strong {
    color: var(--mm_white);
}

#home .ftco-intro .block-18 > .text > h3,
#home .ftco-intro .block-18 > .text > span:first-of-type {
    text-transform: uppercase;
}

#home .ftco-intro .block-18 > .text > h3,
#home .ftco-intro .block-18 > .text > span {
    font-size: 1rem;
}

#home .ftco-intro .block-18 > .text > h3,
#home .ftco-intro .block-18 > .text > p {
    margin-bottom: 0 !important;
}

#home .ftco-intro .block-18 > .text {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
}

#home .ftco-intro .block-18.color-1 {
    background: var(--mm_black);
}

#home .ftco-intro .block-18.color-2 {
    background: var(--mm_black80);
}

#home .ftco-intro .block-18.color-3 {
    background: var(--mm_black60);
}

#home .ftco-section .heading-section .button-container {
    margin-top: 3rem;
}

#home .hero-wrap {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 0 20px;
}

#home .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--primary-color) url('./https://traversymedia.com/downloads/cover.jpg') no-repeat center
    center/cover;
}

#home .video-container video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
}

#home .video-container:after {
    content: '';
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
}

#home .content {
    z-index: 2;
}

#home .ftco-section.form {
    background: url('../../images/homepage_form_bg.jpeg') no-repeat center;
    background-size: cover;
    position: relative;
}

#home .ftco-section.form:after {
    background-color: var(--mm_red80);
    bottom: 0;
    content: '';
    left: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}