@font-face {
    font-family: 'Neo Sans Arabic';
    src: url('../../fonts/arabic/NeoSansArabic-Black.woff2') format('woff2'),
    url('../../fonts/arabic/NeoSansArabic-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Sans Arabic';
    src: url('../../fonts/arabic/NeoSansArabic-Light.woff2') format('woff2'),
    url('../../fonts/arabic/NeoSansArabic-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Sans Arabic Ultra';
    src: url('../../fonts/arabic/NeoSansArabic-Ultra.woff2') format('woff2'),
    url('../../fonts/arabic/NeoSansArabic-Ultra.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Sans';
    src: url('../../fonts/arabic/NeoSans-Medium.woff2') format('woff2'),
    url('../../fonts/arabic/NeoSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Sans Arabic';
    src: url('../../fonts/arabic/NeoSansArabic-Medium.woff2') format('woff2'),
    url('../../fonts/arabic/NeoSansArabic-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Sans Arabic';
    src: url('../../fonts/arabic/NeoSansArabic-Bold.woff2') format('woff2'),
    url('../../fonts/arabic/NeoSansArabic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Sans Arabic';
    src: url('../../fonts/arabic/NeoSansArabic.woff2') format('woff2'),
    url('../../fonts/arabic/NeoSansArabic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeoSansArabic';
    src: url('../../fonts/arabic/NeoSansArabic.woff2') format('woff2'),
    url('../../fonts/arabic/NeoSansArabic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

