#manifesto .hero-wrap {
    background-image: url('../../images/manifesto/header.jpg');
}

#manifesto .ftco-section p > span.arabic-1 {
    color: inherit;
}

#manifesto .ftco-section--black {
     padding: 4rem 0;
 }

#manifesto .ftco-section--black .w-100 {
    padding: 1.5rem 0;
}

#manifesto .ftco-section .heading-section.heading-section--bold {
    font-weight: 700;
    margin-top: 1.5rem;
}

#manifesto .slider-text .bread {
    font-size: 4rem;
}

#manifesto .slider-text .bread .arabic-1 {
    color: white;
    display: block;
    margin-bottom: 1rem;
}

#manifesto .heading-section .text-uppercase {
    font-size: 1.5rem;
    margin-bottom: 0;
}

#manifesto .heading-section .arabic-2 {
    font-size: 3rem;
}