.card {
    border: none;
}

.card .card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    text-align: left;
}

.card .card-body .card-title {
    font-weight: 700;
    text-transform: uppercase;
}

.card .card-body .card-text {
    color: var(--mm_black);
    flex-grow: 2;
}