#footer.ftco-footer {
    background-color: var(--mm_black);
    padding: 5rem 0;
}

#footer .ftco-footer-widget {
    text-align: center;
}

#footer.ftco-footer .ftco-footer-widget h2 {
    font-weight: 600;
}
#footer .ftco-footer-widget ul {
    padding: 0;
    text-transform: uppercase;
}

#footer .ftco-footer-widget a {
    font-size: .825rem;
}

#footer .ftco-footer-widget a.bold {
    font-weight: 700;
}

#footer.ftco-footer .ftco-footer-widget h2:after {
    display: none;
}