.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    font-weight: 500;
    text-transform: uppercase;
}

.ftco-navbar-light .navbar-nav > .nav-item.active > a,
.ftco-navbar-light.scrolled .navbar-nav > .nav-item.active > a {
    color: var(--mm_red) !important;
}

.ftco-navbar-light .navbar-nav > .nav-item:last-of-type > a,
.ftco-navbar-light.scrolled .navbar-nav > .nav-item:last-of-type > a {
    color: var(--mm_red) !important;
}

.ftco-navbar-light .navbar-brand img {
    height: auto;
    width: 5rem;
}

.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {
    background-color: var(--mm_red);
    border-radius: 0;
    line-height: 3;
    text-align: center;
}

.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu > .dropdown-item {
    color: var(--mm_white);
    text-transform: uppercase;
}

.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu > .dropdown-item:hover {
    background-color: rgba(0, 0, 0, .3);
}