:root {
    --mm_green: #214D25;
    --mm_red: #D71F28;
    --mm_black: #000000;
    --mm_white: #FFFFFF;
    --mm_green80: rgba(37, 77, 37, .8);
    --mm_green60: rgba(37, 77, 37, .6);
    --mm_green40: rgba(37, 77, 37, .4);
    --mm_green20: rgba(37, 77, 37, .2);
    --mm_red80: rgba(215, 31, 40, .8);
    --mm_red60: rgba(215, 31, 40, .6);
    --mm_red40: rgba(215, 31, 40, .4);
    --mm_red20: rgba(215, 31, 40, .2);
    --mm_black80: rgba(0, 0, 0, .8);
    --mm_black60: rgba(0, 0, 0, .6);
    --mm_black40: rgba(0, 0, 0, .4);
    --mm_black20: rgba(0, 0, 0, .2);
    --mm_white80: rgba(255, 255, 255, .8);
    --mm_white60: rgba(255, 255, 255, .6);
    --mm_white40: rgba(255, 255, 255, .4);
    --mm_white20: rgba(255, 255, 255, .2);
}